This Jupyter notebook shows performance of methods for the deployment of reactors based on the demand of power and sources of fuel to support the deployment of reactors.

# Performance tests: Case 3

Flow: Source -(sourceout)-> Reactor -(reactorout)-> Sink

The driving commodity is 'Power' with a demand equation of 1000*t

The refuelling time for the reactor is 1 timestep.

The next cell produces .xml input file of Cyclus, its respective .sqlite output, and post processing data of that output file used in the following cells.

In [1]:
import json
import re
import subprocess
import os
import sqlite3 as lite
import copy
import glob
import sys
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import d3ploy.tester as tester
import d3ploy.plotter as plotter
import collections
from IPython.display import Image
from IPython.display import display
sys.path.append('../tests/performance_tests/')
import algorithm_performance_tests as apt
import algorithm_performance_tests_twoinst as aptti

In [ ]:
"""
%%capture
!python -W "ignore" '../tests/performance_tests/algorithm_performance_tests.py'"""

In [5]:
apt.tests(3)

In [6]:
df1 = pd.read_csv('scenario_3_output.csv')

In [7]:
df1

      Unnamed: 0  power_undersupply  fuel_undersupply
0           arch                 11                10
1           arma                 17                13
2  exp_smoothing                 10                 6
3            fft                 23                 5
4   holt_winters                 10                 6
5             ma                  6                 7
6           poly                 36                11

<img src="scenario_3_input_ma_power.png" width="500">
<img src="scenario_3_input_fft_fuel.png" width="500">

In [8]:
# POWER Buffer of 60% (change val in algorithm_perform_tests_twoinst)

In [9]:
aptti.tests(3)

In [10]:
df2 = pd.read_csv('scenario_3_output.csv')

In [11]:
df2

  Unnamed: 0  power_undersupply  fuel_undersupply
0  scenario3                  2                 1

<img src="scenario_3_input__power.png" width="500">
<img src="scenario_3_input__fuel.png" width="500">

The under supplies happen at the first few time steps.

In [ ]:
# POWER Buffer of 30000MW (change val in algorithm_perform_tests_twoinst)

In [2]:
aptti.tests(3)

In [3]:
df3 = pd.read_csv('scenario_3_output.csv')

In [4]:
df3

  Unnamed: 0  power_undersupply  fuel_undersupply
0  scenario3                  6                 1

<img src="scenario_3_input__power.png" width="500">
<img src="scenario_3_input__fuel.png" width="500">

Does not perform as well as a percentage value

In [2]:
aptti.tests(3)

OperationalError: no such table: timeseriessupplypower

In [ ]:
df3 = pd.read_csv('scenario_3_output.csv')

In [ ]:
df3

<img src="scenario_3_input__power.png" width="500">
<img src="scenario_3_input__fuel.png" width="500">